APP_ENV=dev
APP_SECRET=
APP_SHARE_DIR=var/share

DEFAULT_URI=http://localhost

DATABASE_URL="postgresql://USER:PASSWORD@postgres:5432/DATABASE?serverVersion=17&charset=utf8"

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=123ewq
